/* :root{

} */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 125%;
}

body{
    background-color: #10141e;
    display: flex;
    padding: 1em;
    min-height: 100vh;
}

main{
    padding: 20px;
}