.movieCard{
    cursor: pointer;
    max-width: 270px;
    width: 100%;
}

.movieImg{
    padding: 20px;
    height: 174px;
    border-radius: 10px;
    position: relative;
    /* width: 100%; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.movieImg .bookmarkImgWrapper{
    position: absolute;
    right: 20px;
    top: 10px;
}