.movieCard{
    cursor: pointer;
    align-self: center;
    width: 240px;
    margin-right: auto;
}

.movieImg{
    padding: 20px;
    height: 174px;
    border-radius: 10px;
    position: relative;
    /* width: 100%; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.movieImg .bookmarkImgWrapper{
    position: absolute;
    right: 20px;
    top: 10px;
}