#navBar{
    background-color: #161D2F;
    width: fit-content;
    padding: 1em;
    border-radius: 15px;
    max-height: 960px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logoLink{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#nav-items{
    list-style-type: none;
    margin-top: -300%;
    margin-inline: auto;
}
.list-nav-items{
    padding: 5px;
    margin-inline: auto;
    margin-bottom: 0.7em;
    
}

.profileImg img{
    width: 40px;
    height: 40px;
    border: 1px white solid;
    border-radius: 50%;
}