#searchbar{
    display: flex;
    width: 100%;
    gap: 5%; 
    margin-block: 2em;
}

#searchBar img{
    height: 50px;;
    width: 50px;
}

#searchVal{
    border: none;
    background: transparent;
    outline: none;
    font-size: 1.1em;
    width: 100%;
    color: white;
    caret-color: red;
}