.trendingCardContainer{
    padding: 1em;
    border-radius: 15px;
    height: 230px;
    width: 470px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bookmarkImgWrapper {
    align-self: flex-end;
    padding: 8px;
    margin-right: -10px;
    border-radius: 25px;
    background-color: #5A698F;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bookmarkImgWrapper:hover{
    background-color: #fc4747;
}

.bookmarkImg {
    width: 22px;
    height: 22px;
    display: block;
}