.trendingCardContainer{
    position: relative;
    padding: 1em;
    border-radius: 15px;
    height: 230px;
    width: 470px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.playButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97979780;
    width: fit-content;
    padding: 10px;
    gap: 10px;
    border-radius: 25px;
    z-index: 2;
}

.trendingCardContainer:hover .playButton {
    opacity: 1;
    visibility: visible;
}

.bookmarkImgWrapper {
    align-self: flex-end;
    padding: 8px;
    margin-right: -10px;
    border-radius: 25px;
    background-color: #5A698F;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
}

.bookmarkImgWrapper:hover{
    background-color: #fc4747;
}

.bookmarkImg {
    width: 22px;
    height: 22px;
    display: block;
}

@media(max-width: 376px) {
    .trendingCardContainer{
        height: 140px;
        width: 240px;
    }

    .bookmarkImg {
        width: 10px;
        height: 10px;
    }
}